<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <link rel=stylesheet type=text/css href="{{ url_for('static', filename='default.css') }}">
    <title>Produits</title>
<body>

    <div class="header container-fluid" >
       <table>
        <tr>
            <td><img src="https://i.postimg.cc/jjYZ4zh5/Kega-Logo.png"/></td>
            <td><h1>Vous voulez manger mieux, choisissez Kega!</h1></td>
        </tr>
       </table>
   </div>


   <div class="container-fluid">
       <div class="row">
           {% for produit in produits %}
           <div class="col-3">
               <div class="card" style="width: 18rem;">
                   <div class="card-img-top text-center">
                       <img src="{{produit.lien_image}}" alt="Card image cap">
                   </div>
                   <div class="card-body">
                       <h5 class="card-title">{{produit.name}}</h5>
                       <div class="score" style="background-color:{{produit.color}}">
                           <b><p>   {{produit.score}}   </p></b>
                       </div>

                       <a href="{{produit.lien}}" class="btn btn-success">Afficher</a>
                   </div>
               </div>
           </div>
           {% endfor %}
       </div>
       <div class="center">
            <a id="link" class="btn btn-success more" >AFFICHER +</a>

        <script type="text/javascript">
            $('a#link').click(function(){
                $('.center').html("<div class='loader'> </div>");
                window.location.assign("/{{page_number}}");
            })

  </script>
       </div>
   </div>
   </div>

</body>
</html>